{
  "presets": [
    ["env", {
      "modules": false
    }],
    ["react"]
  ],
  "plugins": [
    "jsx-control-statements",
    "syntax-object-rest-spread",
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-function-bind",
    "external-helpers",
    ["react-css-modules", {
      "exclude": "node_modules"
    }]
  ]
}

