{
  "presets": [
    ["latest", {
      "es2015": {
        "modules": false
      }
    }],
    ["react"]
  ],
  "plugins": [
    "syntax-object-rest-spread",
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-function-bind",
    "external-helpers",
    ["react-css-modules", {
      "exclude": "node_modules"
    }]
  ]
}

