:root {
  --min-width: 375px;
}

:global(body) {
  overflow-y: scroll;
  overflow-x: hidden;
}

.app-container {
  lost-center: 960px;
  min-height: 100vh;
  min-width: var(--min-width);
  padding-bottom: 1rem;
}

.header-container {
  box-shadow: 0px 20px 33px -12px rgba(0,0,0,0.75);
  margin-bottom: 20px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  overflow: hidden;
}

.flash-container {
  lost-center: 2/3 40px;
  min-width: var(--min-width);
  text-align: center;
}

.page-container {
  position: relative;
}

.link-row {
  a {
    padding: 10px;
  }
}

.dialog-container {
  lost-center: 2/5 40px;
  min-width: var(--min-width);

  .pull-right {
    margin-left: auto;
  }

  text-align: center;

  input {
    text-align: center;
  }
}

.form-container {
  lost-center: 2/3 40px;
  min-width: var(--min-width);
}

:global(form.rjsf) {
  :global(fieldset legend#root__title) {
    text-align: center;
  }

  :global(.btn-group) {
    display: block;
    text-align: center;
  }

  :global(.help-block) {
    font-size: 80%;
    filter: opacity(0.5);
  }

  :global(.field-description) {
    font-size: 80%;

    &:before {
      content: "- ";
    };
  }
}
