:root {
  --card-width: 200px;
}

.container {
  lost-center: 1/1 40px;
}

.scroll-port {
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 5px;
}

.scroll-canvas {
  display: inline-flex;
}

.card-container {
  min-width: var(--card-width);
  max-width: var(--card-width);
  text-align: center;
  display: inline-block;

  :global .card {
    height: 100%;
    .card-body {
      margin-bottom: 10px;
      padding: 10px;
      .spacer { display: block; height: 10px;}
    }
  }

  :global .slick-slider {
    .slick-arrow {
      top: 20px;
      z-index: 99;
    }
    .slick-prev { left:-6px; }
    .slick-next { right: -6px; }
    .slick-dots {
      top: 0px;
      position: relative;
      padding: 0 18px;
    }
    .slick-slide {
      margin-top: 0.5rem;
      padding-top: 5px;
      border-radius: 5px;
    }
  }
}

.prices {
  > * {
    display: block;
  };
}
